<h2>Modification du compte de <%= resource_name.to_s.humanize %></h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: 'example@gmail.com' %>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="field">

    <%= f.label :password %> <i>(Laissez vide si vous ne voulez pas le changer)</i><br />
    <%= f.password_field :password, autocomplete: "new-password", placeholder: "Au moins 6 caractères" %>

    <% if @minimum_password_length %><br />
    <% end %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />

    <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder: "Au moins 6 caractères"  %>
  </div>

  <div class="field">
    <%= f.label :current_password %> <i>(Nous avons besoin de votre mot de passe actuel pour confirmer vos changements)</i><br />

    <%= f.password_field :current_password, autocomplete: "current-password", placeholder: "Écrivez votre mot de passe actuel" %>
  </div>

  <div class="actions">
    <%= f.submit "Mise à jour", class:'btn btn-success'  %>

  </div>
<% end %>

<h4>Suppression de compte</h4>
<p>Malheureux? <%= button_to "Supprimer mon compte", registration_path(resource_name), data: { confirm: "Vous êtes sûr?" }, method: :delete, class:'btn btn-danger' %></p>
<%= link_to "Back", :back %>
