<p id="notice"><%= notice %></p>

<h1>Parents d'accueil</h1>

<table>
  <thead>
    <tr>
      <th>Nom</th>
      <th>Adresse</th>
      <th>Téléphone</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @hostparents.each do |hostparent| %>
      <tr>
        <td><%= hostparent.name %></td>
        <td><%= hostparent.adress %></td>
        <td><%= hostparent.phone %></td>
        <td><%= link_to 'Détails', hostparent %></td>
        <td><%= link_to 'Modifier', edit_hostparent_path(hostparent) %></td>
        <td><%= link_to 'Supprimer', hostparent, method: :delete, data: { confirm: 'êtes vous sûrs?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to "Créer nouveau parent d'accueil", new_hostparent_path %>
<%= paginate @hostparents %>
