
<style>
  strong{
    font-size: 20px;
    font-family: fantasy;
    color: black;
  }

  span{
    color: black;
    font-size: 18px;
    font-family: 'Lucida';
  }

</style>

<div class="container">
 <div class="container">
  <div class="card container">

<p>
  <strong>Nom et Prénoms:</strong>
  <%= @orphan.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @orphan.description %>
</p>

<p>
  <strong>Âge:</strong>
  <%= @orphan.age %>
</p>

<p>
  <strong>Image:</strong>
  <% if @orphan.image_url %>
  <%= image_tag @orphan.image.url %>
  <% end %>
</p>


<p>
  <strong>Sexe:</strong>
  <%= @orphan.sex %>
</p>

<p>
  <strong>Parent d'origine:</strong>
  <%= @orphan.originalparent.name %>
</p>

<p>
  <strong>Parent d'accueil:</strong>
  <%= @orphan.hostparent.name %>
</p>

<%= link_to 'Modifier', edit_orphan_path(@orphan) %>|
<%= link_to 'Retour', orphans_path %>
