<p id="notice"><%= notice %></p>
<h1>Parents d'origine</h1>

<table>
  <thead>
    <tr>
      <th>Nom</th>
      <th>Description</th>
      <th>Téléphone</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @originalparents.each do |originalparent| %>
      <tr>
        <td><%= originalparent.name %></td>
        <td><%= originalparent.description %></td>
        <td><%= originalparent.phone %></td>
        <td><%= link_to 'Détails', originalparent %></td>
        <td><%= link_to 'Modifier', edit_originalparent_path(originalparent) %></td>
        <td><%= link_to 'Supprimer', originalparent, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>

    <% end %>
  </tbody>
</table>

<br>

<%= link_to "Créer nouveau parent d'origine", new_originalparent_path %>
<%= paginate @originalparents %>
